/* Archivo: src/assets/styles/Asignation.css */

.asignacion-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tabla-asignaciones {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.tabla-asignaciones thead tr {
  background-color: #007acc;
  color: white;
}

.tabla-asignaciones th,
.tabla-asignaciones td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.tabla-asignaciones tbody tr:hover {
  background-color: #f1faff;
}

.tabla-asignaciones tbody tr:nth-child(even):not(.revisado) {
  background-color: #f9f9f9;
}

.tabla-asignaciones tbody tr[style*="background-color: #d4edda"] {
  background-color: #d4edda !important; /* Verde claro para revisado */
}


span {
  font-size: 1.2rem;
  color: green;
  font-weight: bold;
}

@media (max-width: 640px) {
  .asignacion-container {
    margin: 1rem;
    padding: 0.5rem;
  }
  .tabla-asignaciones th,
  .tabla-asignaciones td {
    padding: 8px 10px;
  }
  button {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}
