button {
  cursor: pointer;
  border: none;
  width: 40%;
  align-self: center;
  padding: 1rem;
  background-color: var(--oliveGreen);
  color: white;
  transition: 200ms;
}

button:hover {
  background-color: var(--lightenGreen);
  transition: 200ms;
}

.botonEliminar {
  transition: 200ms;

  width: 100%;
  background-color: red;
}

.botonEliminar:hover {
  transition: 200ms;

  background-color: rgb(240, 119, 119);
}
