header {
  width: 100%;
  background-color: var(--darkGreen);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 10rem;
}

nav{
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.fotoUsuario{
  height: 4rem;
  border:  solid black;
  border-radius: 3rem;
}