header {
  width: 100%;
  background-color: var(--darkGreen);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 10rem;
  position: relative;
  overflow: visible;
}


nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.fotoUsuario {
  cursor: pointer;
  height: 4rem;
  border: solid black;
  border-radius: 50rem;
  transition: 200ms;
  width: 4rem;
}

.fotoUsuario:hover {
  box-shadow: 0px 1px 19px 0px rgba(255, 255, 255, 0.75);
  transition: 200ms;
}


.contenedorHeader{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.dropDown {
  display: flex;
  flex-direction: column;
  background-color: var(--darkGreen);
  width: 20rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: absolute;
  z-index: 100%;
  top: 10rem;
}


.dropDown a{
  color: white;
  width: 100%;
  padding: 1rem 1rem;

}

.showMenu {
  visibility: visible;
  opacity: 1;
}

.dropDown a:hover{
  background-color: var(--lightenGreen);
  
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1rem;
    gap: 2rem;
  }

  nav {
    flex-wrap: wrap;
   justify-content: space-evenly;
  }

  .fotoUsuario {
    width: 5rem;
    height: 5rem;
  }

  .dropDown {
    width: 100%;
    top: calc(100% + 0.5rem); /* debajo del header */
    right: 0;
  }

  .contenedorHeader {
    align-items: center;
  }

  .logo__header {
    display: block;
    width: 100%;
  }
}
