.contenedorHome {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: center;
  margin: 3rem;

  border: solid red;
  background-color: bisque;

}

body{
  position: relative;
  min-height: 100vh;
  padding-bottom: 7rem;
}


